* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; 
}

body {
  background-color: black;
  color: white;
  min-width: 400px;
  width: 50%;
  margin: auto;
  text-align: center;
}